RETAIL_PIPELINE_RAW_DIR=data/raw
RETAIL_PIPELINE_PROCESSED_DIR=data/processed
RETAIL_PIPELINE_REPORTS_DIR=reports
RETAIL_API_HOST=127.0.0.1
RETAIL_API_PORT=8000
RETAIL_API_HOST_PORT=8000
RETAIL_LOG_LEVEL=INFO
RETAIL_DATASET_CSV_URL=https://raw.githubusercontent.com/databricks/Spark-The-Definitive-Guide/master/data/retail-data/all/online-retail-dataset.csv
RETAIL_DATASET_MAX_ROWS=0
